# Entorno virtual
venv/
env/
.venv/

# Base de datos
*.db
*.sqlite3
*.sqlite

# Archivos de sistema
os/
.DS_Store
Thumbs.db

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dylib

# Archivos de editor
.vscode/
.idea/
*.swp
*.swo

# Backups
*.bak
main.py.bak